<div class="jumbotron vertical-center">
  <div class="container-fluid text-center">
    <h1>WeLunch Better, Together</h1>
    <div class="row">
      <div class="col-md-7">
<a href="/login">
Log In to Your Account
</a><br>
<a href="/signup">
Sign Up
</a>
      </div>
    </div>
  </div>
</div>